{% extends "base.html" %}


{% block content %}

<body>
<div class="slider">
        <ul class="slides">
            <li>
                <img src="http://i2.mirror.co.uk/incoming/article5923583.ece/ALTERNATES/s615b/Blood-donation.jpg">
                <!-- random image -->
                <div class="caption aa center-align">
                    <h3 class="blue-text" >This is our big Tagline!</h3>
                    <h5 class=" white-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/03/15/12/blood-donation-GETTY.jpg">
                <!-- random image -->
                <div class="caption  left-align">
                    <h3 class="blue-text">Left Aligned Caption</h3>
                    <h5 class=" white-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://ichef-1.bbci.co.uk/news/624/cpsprodpb/12DB1/production/_87333277_cd4c5781-0266-4e72-b4e1-fb3f6d6ea535.jpg">
                <!-- random image -->
                <div class="caption   right-align">
                    <h3 class="blue-text">Right Aligned Caption</h3>
                    <h5 class=" white-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://i.ytimg.com/vi/HLFzP1D7PKk/maxresdefault.jpg">
                <!-- random image -->
                <div class="caption   center-align">
                    <h3 class="blue-text">This is our big Tagline!</h3>
                    <h5 class=" white-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>

    
</body>
{% endblock %}




  



